<!DOCTYPE html>
<html>
    <head>
      <script src="{{ url_for('static', filename='script.js') }}"></script>
      <title>Flack</title>
    </head>
    <body>
        <div class="">
            <p id="username"></p>
        </div>
        <div id="username-submission-div" class="">
          <h3>Provide a username</h3>
          <form id="username-form">
            <input id="username-input" type="text" autofocus autocomplete="off">
            <input id="username-submit" type="submit" value="Submit">
          </form>
        </div>
        <div id="create-channel-div" class="">
          <h3>Add Channel</h3>
          <h5>Provide a channel name</h5>
          <form id="channel-form" class="" action="index.html" method="post">
            <input id="channel-input" type="text" name="channel-input" autocomplete="off">
            <input id="channel-submit" type="submit" value="Create">
          </form>
        </div>
        <div id="channel-result"></div>
        <div id="channels">
          <h3>Available Channels</h3>
          <ul id="current-channels"></ul>
        </div>
        <div id="join-channel">
          <h3>Join a channel</h3>
          <form id="joinChannelForm">
            <select id="join-channel-dropdown">
              <option value="select" default>Select a channel</option>
            </select>
            <input id="joinChannelButton" type="submit" value="Join">
          </form>
        </div>
        <div id="current-channel">
          <h3>Your Current Channel</h3>
        </div>
    </body>
</html>
