<!DOCTYPE html>
<html>
    <head>
        <title>Flack</title>
        <script type="text/javascript" src="/static/script.js"></script>
    </head>
    <body>
        <div class="">
            <p id="username"></p>
        </div>
        <div class="">
          <form id="username-form">
            <input id="username-input" type="text" name="" value="" autofocus autocomplete="off">
            <input id="username-submit" type="submit" name="" value="Submit">
          </form>
        </div>
    </body>
</html>
